@media (min-width: 768px) { 
    .header-text {
        margin: 230px 0px !important;
        margin-bottom: 180px !important;
    }

    .margin-blob {
        margin-top: 110px
    }
 }

html {
    scroll-behavior: smooth;
    
}

h4 {
    color: rgb(119, 242, 161);
    font-weight: bold;
    position: relative;
    display: inline-block; /* Makes h4 a block, but doesn't force it to take full width */
    padding-left: -25px; 
    margin-top: 10px;
}

h5 {
    color: rgb(119, 242, 161) !important;
    font-weight: bold;
}



h3 {
    color: #AAA !important;
    margin-top: 4em;
}

h4::before {
    content: "";
    position: absolute; 
    left: -31.5px;
    top: 40%; 
    transform: translateY(-50%);
    width: 20px;
    height: 20px; 
    background-color: white;
    border-radius: 50%;
}

.arrowTip {
    position: relative;
}

.arrowTip::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -21.5px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid white;   /* This determines the color of the triangle */
}


.arrowTipLeft::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -21.5px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid white;   /* This determines the color of the triangle */
}

.arrowTipLeft {
    position: relative;
}


.infoBoxProcess {
    padding: 8px;
}


.box1 {
    border: 3px dashed white; 
    border-style: hidden hidden hidden dashed;
}

.box2 {
    border: 3px dashed white; 
    border-style: hidden hidden hidden dashed;
}

.box3 {
    border: 3px dashed white; 
    border-style: hidden hidden hidden dashed;
}


.card-stack {
    max-width: 800px;
}

.card-stack .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background: white;
    color: black;
}

.card-stack .card:first-child {
    transform: rotate(0deg);
    z-index: 1;
}

.card-stack .card:last-child {
    transform: rotate(0deg);
    z-index: 2;
    left: -10px;
}

h6 {
    font-weight: bold;
    font-size: 1.5em;
}

@media (min-width: 768px) {
    .hide-h4::before {
        content: "";
        position: absolute; 
        left: -31.5px;
        top: 40%; 
        transform: translateY(-50%);
        width: 0px;
        height: 0px; 
        background-color: white;
        border-radius: 50%;
    }

    .arrowTip::after {
        content: "";
        position: absolute;
        bottom: -40px;
        left: -21.5px;
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-top: 0px solid white;   /* This determines the color of the triangle */
    }
    
    
    .arrowTipLeft::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: -21.5px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 15px solid white;   /* This determines the color of the triangle */
    }
}



/** smaller than xxl */
@media (min-width: 1399.98px) { 
    .hide-h4::before {
        content: "";
        position: absolute; 
        left: -31.5px;
        top: 40%; 
        transform: translateY(-50%);
        width: 20px;
        height: 20px; 
        background-color: white;
        border-radius: 50%;
    }

    .box1 {
        border-style: hidden hidden dashed dashed;
    }
    
    .box2 {
        border-style: dashed hidden hidden dashed;
    }
    
    .box3{ 
        border-style: hidden hidden hidden dashed;
    }

    .arrowTip::after {
        content: "";
        position: absolute;
        bottom: -40px;
        left: -21.5px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 15px solid white;   /* This determines the color of the triangle */
    }

    .arrowTipLeft::after {
        content: "";
        position: absolute;
        bottom: -40px;
        left: -21.5px;
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-top: 0px solid white;   /* This determines the color of the triangle */
    }
}

 body {
    font-size: regular;
    background: rgb(24, 23, 23) !important;
    font-family: 'Grandview', sans-serif;
 }

 

 .marker-text {
    background: red;
    padding: 5px 12px;
    font-size: 25px;
    background: rgb(119, 242, 161);

 }

 a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

 a .menu-item {
    color: white;
 }

 .card-body {
    text-align: left;
 }

.header-text {
    margin: 350px 0px;
    margin-bottom: 30px;
}

.card {
    border-width: 0px;
    overflow: hidden;
    background: rgb(53, 53, 53);
    color: white;
}

.menu-item {
    font-weight: bold;
    margin: 0px 12px;
}

.gray {
    filter: grayscale(1);
}

.menu-item:hover {
    color: rgb(119, 242, 161);
}

.custom-shadow {
    -webkit-box-shadow: inset 0px -2px 16px 0px #000000; 
    box-shadow: inset 0px -2px 16px 0px #000000;
}

.footer {
    background-color: rgb(32, 32, 32);
    width: 100%;
    color: white;
    padding: 20px;
}

.btn-book {
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    color: black !important;
}

.btn-book:hover {
    background-color: rgb(100, 100, 100);
    font-weight: bold;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 350px;
    max-height: 350px;
    overflow: hidden;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    color: lightgray;
    font-weight: bold;
}
  
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .image2 {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(80%)
  }
